*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #efefef;
    height: 100vh;
    font-family: 'ubuntu mono';
    overflow-x: hidden;
}

r{
    color: darkred;
}



.navbar{
    position: relative;
    width: 100%;
    background: #505050;
    color: white;
    padding: 14px;
    text-align: center;
    font-weight: 650;
    display: flex;
    height: 8%;
}

.logo{
   align-self: flex-start;
   width: 30%; 
   text-align: center;
}

.links{
   margin-left: auto;
   align-self: flex-end;
}

.links ul{
    display: flex;
    width: 100%;
    justify-items: center;
    justify-content: center;
    list-style: none;
}

.links ul li{
    margin: 0px 25px;
}

.links ul li a{
    color: white;
    text-decoration: none;
    position: relative;
}

.links ul li a:focus{
    color: darkred;
}

.links ul li a:after{
    content: "";
    position: absolute;
    bottom:-5px;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.2s;
}
.links ul li a:hover:after{
    width: 100%;
}

.content{
    width: 100%;
    min-height: 92%;
    background: #EEE56E;
    position: relative;
    color: rgb(50, 50, 70);
    padding: 0;
    margin: 0;
    text-align: center;
}


.how{
    color: black;
}

.resp-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 12px;
}

.item{
    align-self: center;
    width: 100%;
    margin: 10px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-size: 0.85em;
    padding: 8px;
    border-radius: 8px;
}


.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #101010;
    color: white;
    padding: 12px;
}

.btn-primary{
    color: white;
    text-decoration: none;
    background: blueviolet;
    padding: 8px 28px;
    border: none;
    border-radius: 3px;
    transition: background 0.3s;
}

.btn-primary:hover{
    background: darkmagenta;
}
.btn-primary:focus{
    background: darkred;
}